/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
0301/AuthenticatesUsers.php
0301/ivao.php
0301/RedirectsUsers.php
0301/web.php
.env
.env
.env
